<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Recetas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Lista de Recetas</h1>

    {% if recetas %}
    <ul>
        {% for receta in recetas %}
        <li>
            <strong>Receta:</strong> {{ receta.id }}<br>
            <strong>Paciente:</strong> {{ receta.paciente }}<br>
            <strong>Doctor:</strong> {{ receta.doctor }}<br>
            <strong>Medicamento:</strong> {{ receta.medicamento }}<br>
            <strong>Cantidad:</strong> {{ receta.cantidad }}<br>
            <strong>Detalles:</strong> {{ receta.detalles }}<br>

            <form action="{{ url_for('generar_pdf', receta_id=receta.id) }}" method="GET">
                <button type="submit" class="btn btn-primary">Generar PDF</button>
            </form>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay recetas registradas.</p>
    {% endif %}
</body>
</html>

